<div class="container gradientanimation">
  <div class="classification-circle inner">
    <i class="pi pi-volume-up symbol"></i>
    <h3>
      {{classificationValue}}
    </h3>
    <!-- <i class="pi pi-circle outer"></i> -->
  </div>
</div>

<!-- <p-card
id="classificationData"
header="Machine Learning Classification"
styleClass="p-card-shadow"
>
<div class="card-container">
  <label for="noise-sensitivity-slider"
    >Displays the current noise classification of processed sound</label
  >
  <div disabled class="card-slider">
    <div class="option-value">HI {{ classificationValue }}</div>
  </div>
</div>
<ng-template pTemplate="footer"> </ng-template>
</p-card> -->
