<div class="speech-to-text-container">

  <div id="column-buttons">
    <p-toggleButton
      onLabel="Pause"
      onIcon="pi pi-pause"
      offIcon="pi pi-stop-circle"
      offLabel="Record"
      (onChange)="startRecording()"
      [(ngModel)]="isRecording"
    >    </p-toggleButton>

    <span class="p-buttonset">
      <!--TODO: Copy data implementation still not processed -->
      <button pButton icon="pi pi-copy" label="Copy" (click)="copyText()"></button>

      <button pButton icon="pi pi-undo" label="Clear"(click)="clearText()"></button>
    </span>

  </div>

  <div class="speech-row-container">
    <textarea
      id="speech-log"
      pInputTextarea
      [(ngModel)]="messageLog"
      [rows]="20"
      [cols]="180"
      [autoResize]="true"
      disabled="true"
    ></textarea>
  </div>
</div>
