<div class="speech-to-text-container">
  <div class="speech-row-container">
    <div id="speech-log">
      <h2>Speech Log</h2>

      <div id="speech-log-text">
        <textarea
          pInputTextarea
          [rows]="25"
          [cols]="100"
          [autoResize]="true"
          disabled="true"
        ></textarea>
      </div>
    </div>

    <div id="column-buttons">
      <p-button (onClick)="(clearText)"> Clear Text</p-button>
      <p-button> Copy Data</p-button>

      <p-divider></p-divider>
    
      <p-toggleButton
        onLabel="Pause"
        onIcon="pi pi-pause"
        offIcon="pi pi-stop-circle"
        offLabel="Record"
      >
      </p-toggleButton>
    </div>
  </div>
</div>
