
<p-menubar *ngIf="connected" [model]="items">
  <p-button icon="pi pi-power-off" label="Disconnect" (onClick)="this.disconnect()"></p-button>
</p-menubar>

<div class="scrollable-container">
  <div id="container" *ngIf="connected">
    <router-outlet></router-outlet>
  </div>

  <div class="login-container  gradientanimation" *ngIf="!connected">
    <!-- <img src="/src/assets/glasses-solid.svg" style="height: 200px; width:200px; width:auto;" alt=""> -->
    <h1  style="color:whitesmoke"  class="customfadein animation-ease-in-out animation-iteration-infinite"
    >NMK06</h1>
    <i
    pAnimate
    class="customfadein pi pi-prime animation-ease-in-out animation-iteration-infinite"

      style="font-size: 10rem; color: #ffffff; margin-bottom: 20px"
    ></i>

    <p-card>
      <div class="login-subtitle">
        <p-messages [(value)]="messages"></p-messages>

        <div
          style="
            display: flex;
            justify-items: center;
            gap: 0.5em;
            margin: 20px;
            justify-content: center;
            align-items: center;
          "
        >
          <div>
            <i
              class="pi pi-spin pi-spinner  animation-ease-in-out animation-duration-2000"
              style="font-size: 2rem; position: static; top: 10px"
            ></i>
          </div>
          <h3>Waiting to connect...</h3>
        </div>
        <p-button [loading]="this.requestingConnection" label="Connect" (onClick)="this.connect()"></p-button>
      </div>
    </p-card>
  </div>
</div>
