<p-menubar *ngIf="connected" [model]="items">
  <p-button icon="pi pi-power-off" label="Disconnect"></p-button>
</p-menubar>

<div class="scrollable-container">
  <div id="container" *ngIf="connected">
    <router-outlet></router-outlet>
  </div>

  <div class="login-container" *ngIf="!connected">
    <!-- <img src="/src/assets/glasses-solid.svg" style="height: 200px; width:200px; width:auto;" alt=""> -->
    <h1
      pAnimate
      enterClass="fadein"
      class="animation-duration-1000 animation-iteration-infinite"
    >
      NMK06
    </h1>
    <i
      class="pi pi-prime"
      style="font-size: 10rem; color: #4545d4; margin-bottom: 20px"
    ></i>

    <p-card>
      <div class="login-subtitle">
        <p-messages [(value)]="messages"></p-messages>

        <div
          style="
            display: flex;
            justify-items: center;
            gap: 0.5em;
            margin: 20px;
            justify-content: center;
            align-items: center;
          "
        >
          <div>
            <i
              class="pi pi-spin pi-spinner"
              style="font-size: 2rem; position: static; top: 10px"
            ></i>
          </div>
          <h3>Waiting to connect...</h3>
        </div>
        <p-button (onClick)="this.connect()">Connect</p-button>
      </div>
    </p-card>
  </div>
</div>
