.scrollable-container{
  height: 100vh;
  overflow-y: auto;
}

#container{
  background: #f4f4f4;
  width: 100vw;
  display:flex;
  flex-direction:column;
  margin:auto;
}

.login-container{
  background: #f4f4f4;
  color:#444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top:0px;
  margin:0px;
  align-items: center;
  height:100%;
  width:100vw;
  display:flex;
  flex-direction: column;
}

.login-subtitle{
  display:flex;
  flex-direction: column;
  // text-align: center;
}

.gradientanimation {
	background: linear-gradient(-45deg, #50abe0,  #6768a0, #3e56c0,#080e42,);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


