<div id="container" *ngIf="connected">
  <p-menubar [model]="items">
    <p-button icon="pi pi-power-off" label="Disconnect"></p-button>
  </p-menubar>

  <router-outlet></router-outlet>
</div>


<div class="login-container" *ngIf="!connected">
  <img src="https://p4-ofp.static.pub/fes/cms/2021/07/13/d08vvw6963nf8oeqzjk3p2zfqshaff525920.png" style="height: 200px; width:auto;" alt="">
  <p>Not connected to AR Glasses.</p>
  <p>Check that the power of the device is on and connected the device via bluetooth</p>

  <p-button (onClick)="this.connect()">Connect</p-button>
</div>
