<div class="option" [formGroup]="this.inputGroup">
  <div
    pAnimate
    style="opacity:0"
    enterClass="fadein"
    class="animation-duration-700 animation-ease-in animation-fill-forwards"
  >
    <p-card
      id="noiseSensitivity"
      header="Noise Sensitivity"
      styleClass="p-card-shadow"
    >
      <div class="card-container">
        <label for="noise-sensitivity-slider"
          >Calibrate how sensitive the mic is when picking up noises</label
        >
        <div class="card-slider">
          <p-slider
            #noiseSensitivity
            formControlName="noiseSensitivity"
            id="noise-sensitivity-slider"
            [step]="10"
            (onChange)="this.updateInputValue(1,noiseSensitivity.value)"
          ></p-slider>
          <div class="option-value">{{ noiseSensitivity.value }}%</div>
        </div>
      </div>
      <ng-template pTemplate="footer"> </ng-template>
    </p-card>

    <br />

    <p-card
      id="vibrationSensitivity"
      header="Vibration Sensitivity"
      styleClass="p-card-shadow"
    >
      <div class="card-container">
        <label for="vibration-sensitivity-slider"
          >Calibrate the vibration intensity of the AR glasses</label
        >
        <div class="card-slider">

          <p-slider
            #vibrationSensitivity
            id="vibration-sensitivity-slider"
            formControlName="vibrationSensitivity"
            [step]="10"
          ></p-slider>
          <div class="option-value">{{ vibrationSensitivity.value }}%</div>
        </div>
      </div>

      <ng-template pTemplate="footer"> </ng-template>
    </p-card>

    <br />

    <p-card id="fontSettings" header="Font Settings" styleClass="p-card-shadow">
      <div class="card-container">
        <label for="font-settings-value"
          >Resize the font settings on the glass display</label
        >
        <div class="card-slider">
          <!-- <p-slider
            id="font-settings-value"
            #fontSize
            formControlName="fontSize"
            [step]="10"
          ></p-slider>
          <div class="option-value">{{ fontSize.value }}%</div> -->

          <p-inputNumber
          id="font-settings-value"
          formControlName="fontSize"
          [step]="1"
          [showButtons]="true" buttonLayout="horizontal"
          suffix="px"

        ></p-inputNumber>
        </div>
      </div>
      <ng-template pTemplate="footer"> </ng-template>
    </p-card>
  </div>
</div>
