/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif !important;
  scroll-behavior: smooth;
  overflow: hidden;
}

#container {
  p-card {
    margin-top: 5em !important;
    background: blue !important;
  }
  p-card {
    .p-card-body{
      font-size: 1em; 
      padding: 3em 1em 2em 2em;
    }
      .p-card-shadow {
      background: #f4f4f4;
    }
    .p-card-title {
      font-size:1.5em;
      color: rgb(77, 77, 77);
    }
  }

  p-card {
  }
}

.login-container{
  p-card{
    background: rgba(255,255,255,0.1) !important;
  }
}

.p-component .p-slider {
  background: lightblue;
}

#column-buttons {
  .p-button {
    min-width: 10em;
    text-justify: auto;
  }
}

.customfadein{
  animation:customfadein 5s;
}

// Add customization to animatinos
@keyframes customfadein {
  0% {
    opacity: 0.7;
  }
  50%{
    opacity: 1;
  }
  100% {
    // display: initial;
    opacity: 0.7;
  }
}
